.login-form{
    border:1px solid black;
    padding:30px;
    max-width: fit-content;
    margin:auto;
    border-radius:10px;
    text-align: end;
    background-color: white;
    box-shadow: 10px 10px 5px grey;
}
.login-form div{
    margin-bottom: 3px;
    padding: 10px;
}

.Button{
    padding:5px;
    border-radius:5px;
    color:black;
    /* margin-right: 90px;
    margin-top: 40px; */
}