.header-link{
    border:1px solid black;
    padding:3px;
    border-radius: 5px;
    text-decoration: none;
    color:white;
    background-color: blueviolet;
}

header{
    
    width:100vw;
 
}

.login, .register {
    float: right;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    vertical-align: text-top;
}
.main-link {
    float: right;
    display: flex;
    flex-direction: row;
    padding-left: 40px;
}